@import 'scss/variables';
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';
@import '../node_modules/bulma/bulma';

$family-primary: 'Work Sans', sans-serif;

body, button, input, h1, h2, h3, h4, h5 {
  font-family: $family-primary;
  letter-spacing: -1.5px;
}

.location-display {
  padding-top: 1.5rem;
}

.input, .input:focus {
  box-shadow: -1px 3px 8px $dark;
  background-color: rgba($color: $light, $alpha: .6);
  border: none;
}
.button {
  box-shadow: 1px 4px 8px $dark;
}
.morning {
  background: $morning-gradient;
}
.afternoon {
  background: $afternoon-gradient;
}
.evening {
  background: $evening-gradient;
}
.night {
  background: $night-gradient;
}