@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

// Font stuff
$font-stack: 'Work Sans', sans-serif;

// Gradient collection
$morning-gradient: linear-gradient(to right, #ff5f6d, #ffc371);
$afternoon-gradient: linear-gradient(to right, #22c1c3, #fdbb2d);
$evening-gradient: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
$night-gradient: linear-gradient(to right, #000000, #53346d);

// Mixins
@mixin full-screen {
  min-height: 100%
}